#dropdownToggle:hover {
  cursor: pointer;
}

#dropdownToggle {
  rotate: 90deg;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#dropdownList {
  display: none;
}

.menu-item {
  color: black;
}

.menu-item .user-item {
  color: black;
}

.menu-item:hover {
  background-color: #0B5EF3;
  color: #ffffff;
}

.menu .active {
  background-color: #0B5EF3;
  color: #ffffff;
}

.menu-item:hover .user-item {
  color: #ffffff;
}

.logout:hover {
  background-color: rgb(255, 171, 171);
}

.dropdown-toggle::after {
  margin-left: 6em;
}

aside {
  background-color: #13192C;
}

#sidebar::-webkit-scrollbar {
  display: none;
}

.navbar {
  min-height: 80px;
}

#logout:hover {
  background-color: #dc3545;
}

#logout:hover > *  {
  color: #fff;
}

#sidebar {
  width: 250px;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  z-index: 1000;
  overflow-y: auto;
}

#main-content {
  margin-top: 70px;
  margin-left: 270px;
  padding: 20px;
}