#dropdownToggle:hover {
  cursor: pointer;
}

#dropdownToggle {
  rotate: 90deg;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#dropdownList {
  display: none;
}

.menu-item {
  color: black;
}

.menu-item .user-item {
  color: black;
}

.menu-item:hover {
  background-color: #0B5EF3;
  color: #ffffff;
}

.menu-item:hover .user-item {
  color: #ffffff;
}

.logout:hover {
  background-color: rgb(255, 171, 171);
}

.dropdown-toggle::after {
  margin-left: 6em;
}

aside {
  background-color: #13192C;
}